# {{ ansible_managed }}
# official docker repository

deb [arch={{ ansible_facts["architecture"] | replace('x86_64', 'amd64') | replace('aarch64', 'arm64') }} signed-by={{ docker_apt_keyring }}] https://download.docker.com/linux/{{ ansible_facts["distribution"] | lower }} {{ ansible_facts["distribution_release"] }} {{ docker_apt_release_channel }}
